{% extends 'admin/admin_base.html.twig' %}
{% block main %}
    {% for article in articles %}

        <div class="card">

            <a href="{{ path('article_view', {'id': article.id}) }}">
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>
                <em>{{ article.id }}</em><br>
                <a href="{{ path('admin_article_delete', {'id': article.id }) }}">Supprimer</a><br>
                <a href="{{ path('admin_article_update', {'id': article.id }) }}">Mettre à jour</a>
            </a>
        </div>

    {% endfor %}
{% endblock main %}