{% extends 'base.html.twig' %}
{% block main %}
    {% for article in articles %}

        <div class="card">

            <a href="{{ path('articleView', {'id': article.id}) }}">
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>
                <em>{{ article.id }}</em>
                <p class="pcategory">Categorie : {{article.category.title}}</p>
            </a>
        </div>

    {% endfor %}
{% endblock main %}